@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #000;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
  font-family: "Inter";
}
#clinica {
  width: 1440px;
  height: 5167px;
  margin: 0 auto;
}
/* header */
header {
  width: 1440px;
  height: 125px;
  background: #00806b;
}
header .container {
  width: 1380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
header .container .logo {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}
header .container .logo p {
  width: 155px;
  height: 80px;
  font-size: 24px;
  margin-left: 10px;
  color: #fff;
  font-family: Roboto;
}
header .container .menu a.under {
  text-decoration: underline;
}
header .container .menu a {
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
  font-family: "Roboto";
}
header .container .menu a:hover {
  color:#061f6b;
  font-weight: 600;
  }

/* about */
.med {
  width: 1240px;
  margin: 0 auto;
  margin-top: 35px;
  text-indent: 50px;
  text-align: justify;
  font-size: 35px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: normal;
}
.med .bold {
  font-size: 28px;
  font-weight: bold;
}
/*  */
.alpha {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alpha .photo {
  width: 700px;
  height: 500px;
  margin-top: 30px;
}
h2 {
  width: 1240px;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
}

.alpha .why {
  width: 700px;
  margin-top: 33px;
  margin-left: 35px;
  text-align: justify;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
}
.alpha h3 {
  margin-left: 50px;
}

.alpha .why ul li {
  list-style: circle;
  margin-left: 10px;
  font-size: 22px;
}

/* методы  */
.container-1 {
  margin: 0 auto;
}
.dropdown {
  width: 980px;
  margin: auto;
}
.container-1 h3 {
  margin-top: 35px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
  margin-left: 520px;
}
.container-1 h3:hover {
  color: #055d4d;
}
/*  */
.container-1 .dropdown .method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.container-1 .dropdown .method p {
  width: 1000px;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 30px;
}
.container-1 .dropdown .method .par {
  margin-left: -70px;
}
.container-1 .dropdown .method .par-1 {
  margin-left: 50px;
}

.container-1 .dropdown .line {
  width: 860px;
  margin-top: 10px;
  margin-left: 120px;
  border-bottom: 1px solid rgb(12, 1, 1);
}

.container-1 .dropdown button {
  background: white;
  border: none;
  margin-left: 450px;
  margin-top: 25px;
}

/*  */
.show {
  display: block;
}

/* start footer */
/* footer */
footer {
  width: 1440px;
  height: 732px;
  display: flex;
  margin-top: 50px;
  background: #00806b;
}
.container-5 {
  width: 1024px;
  height: 232px;
  margin-top: 50px;
  margin-left: 214px;
  background: #0788d1;
  position: absolute;
}
.container-5 .content-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 50px;
}

.container-5 .content-2 h2 {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
}
.container-5 .content-2 img {
  margin-left: 50px;
}

.container-5 .content-2 .icon-2 {
  margin-left: -112px;
}

.container-5 .content-2 h3 {
  text-align: center;
  font-size: 23px;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 70px;
  color: #ffffff;
}

.container-5 .content-2 p {
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 35px;
  color: #ffffff;
}

footer .logo {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 320px;
  margin-left: 220px;
}

footer .logo p {
  margin-top: 10px;
  color: #fff;
  margin-left: 10px;
  font-size: 28px;
  font-family: Lucida Console;
  text-transform: uppercase;
}

footer .serv {
  display: block;
  align-items: center;
  justify-content: space-between;
}
footer .serv .par p {
  font-size: 30px;
  font-family: Roboto;
  text-align: center;
  margin-top: 440px;
  margin-left: 100px;
  color: #ffffff;
}
footer .serv .menu {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .serv .menu a {
  margin-left: 50px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}
footer .serv .menu .upper {
  text-decoration: underline;
}

footer .icons {
  margin-top: 650px;
  align-items: center;
  justify-content: space-between;
  margin-left: -800px;
}
footer .face .ic {
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

/* end footer */

/* dropdown */
